.flex{
    display: flex;
}
.cadastro{
    font-family: 'Glacial Indifference', sans-serif;
    text-align: center;
    margin: 20px;
    margin-top: 30px;
    font-size: 45px;
}
.blueGround{
    padding: 0px;
    padding-bottom: 400px;
    margin: 20px;
    margin-right: 25px ;margin-left: 25px ;
    background-color:#3464A7 ;
    border-radius: 10px;
}
.infoCadastro{
    font-family: 'Glacial Indifference', sans-serif;
    color: white;
    text-align: center;
    padding: 5px;
}