* {
    font-family: 'Glacial Indifference', sans-serif;
}

.iSemaforo {
    display: flex;
}


.iSemaforo img {
   width: auto;
   height: 36px;
   margin-top: 24px;
   justify-content: center;
   text-align: center;
   align-items: center;
}

header{
    background-color: #3464A7;
    display: flex;
    margin: 0;

}

.menuImg {
    width: 100px;
    height: auto;
    padding: 5px;
}

.dropdown{
    display: inline-block;
    position: relative;
}
/* 
.dropdownContent:hover {

} */

