header {
    background-color: #023859;
    display: flex;
    height: 70px;
    width: 100%;
}
.logoImg {
    width: 125px;
    height: auto;
    padding: 5px;
    margin-top: 5px;
}



/* dropdown */

/* .dropdown {
    position: fixed;
    margin-top: 10px;
    right: 10px;
    max-width: 50px;
}

.mainmenubtn {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #023859;
}

.mainmenubtn svg{
    fill: #f2f2f2;
}

.dropdown .content{
   transform: translateX(-50%);
   background-color: #F2D06B;
   color: #f2f2f2;
   padding: 20px;
   border-radius: 5px;
   margin-top: 10px;
   width: fit-content;
   display: block;
   padding: 10px 20px;
}

a{
    text-decoration: none;
}

a:visited {
    color: #f2f2f2;
}

/* Link ao passar o mouse */
/* a:hover {
    text-decoration: underline;
}


.dropdown[active="false"] .content {
    display: none;
}

.dropdown .content::before{
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    right: 25px;
    background-color:#F2D06B;
}
 */

 /* ESTILO DO DROPDOWN */
 
.header .btn-abrir-menu svg{
    right: 0;
}

 .btn-abrir-menu svg{
    color: #f2f2f2;
 }



 .menu-mobile{
    background-color: #b4b4b4;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    
 }

 .menu-mobile nav {
    text-align: right;

 }

 .menu-mobile nav a{
    color: #023859;
    font-size: 20px;
    font-weight: 100;
    padding: 20px 8% ;
    margin-left: 10px;
    font-style: normal;
    text-decoration: none;
    display: block;
 }


 .menu-mobile nav  a:hover{
    color: #f2f2f2;
    background-color: #023859;
    display: block;
    margin: 10px;
    padding: 10px;
    transform: scale(1.05);
 } 


 #espaçoPerfil{
    background-color: #023859;
 }

#perfilENome{
    display: flex;
    margin: 5% 20%;
}

#perfilENome p{
    color: #f2f2f2;
}

.menu-mobile #espaçoPerfil .btn-fechar {
    padding: 10px 4%;
}


.menu-mobile #espaçoPerfil .btn-fechar svg{
    color: #f2f2f2;
    
}
.menu-mobile #espaçoPerfil .perfilENome svg{
    color: #f2f2f2;
    border: none;
  
}