/* STYLE GERAL */
body {
    font-family: 'Glacial Indifference', sans-serif;
    background-color: #f2f2f2;
    width: 100%;
    margin: 0px;
    
}
header {
    background-color: #023859;
    display: flex;
    height: 70px;
    width: 100%;
}
.logoImg {
    width: 125px;
    height: auto;
    padding: 5px;
    margin-top: 5px;
}

/* estamos comentando essa parte para resolver isso */
/* .dropdown {
    position: absolute;
    margin-top: 17.5px;
    right: 20px;
}
.dropdownLogo {
    width: 25px;
    height: auto;
    padding: 5px;
} */
/* FIM DO STYLE GERAL */
/* STYLE DA PÁGINA DE LOGIN - NICOLAS */
.iSemaforo {
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 26px;
    padding: 0px;
}
.iSemaforo img {
    width: auto;
    height: 60px;
    margin-top: 36px;
}
.containerGeral {
    background-color: #3464A7;
    border-radius: 25px;
    justify-content: center;
    width: 95%;
    height: 215px;
    margin-left: auto;
    margin-right: auto; 
    align-items: center;
    margin-top: 0px;
}
#containerGeral p {
    color: white;
}
#matriculaUsuario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#usuarioLogin, #senhaLogin {
    margin-bottom: 2px;
}
.botaoLogin {
    border-width: 0px;
    background-color: #3464A7;
    color: white;
    font-size: 22px;;
}
.inputLogin {
    border-radius: 25px;
    border-width: 1px;
    width: 275px; 
    height: 25px;
}
#guardaLogin {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: 275px;
    padding: 0px;
}
#semaforoLogin {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    width: auto;
    height: 250px;
}
/* FIM DO STYLE DA PÁGINA DE LOGIN */
/* STYLE DA PÁGINA DE ESCOLHA DAS SÉRIES - NICOLAS */
#backgroundEstrada {
    background-image: url("../Img/estradaBranca.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0%;
    background-position-y: 125px;
}
.containerSerieFinalJogo {
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    height: 300px;
    width: 280px;
    margin-top: 150px;
}
.containerEnsinoMedioPerguntas {
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    height: 300px;
    width: 280px;
    margin-top: 150px;
}
.textoPrincipal {
    background-image: url("../Img/fundoDeformado.png");
    background-repeat: no-repeat;
    background-size: 375px;
    background-position-x: -5px;
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: center;
}
.textoBranco {
    color: white;
}
.textoSecundario {
    margin-top: 45px;
}
.textoNegrito {
    font-weight: bold;
}
.textoTamanho {
    font-size: 26px;
    margin-bottom: 5px;
}
.textoTamanhoNegrito {
    font-size: 28px;
    margin-top: 0px;
}
.botaoStartGeral{
    border-radius: 35%;
    background-color: rgb(252,212,76);
    width: 160px;
    height: 60px;
    border: 4px solid black;
    text-align: center;
    box-shadow: 0 7px rgb(252,212,76);
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#containerTextoIniciais {
    margin-top: 30px;
    text-align: right;
}
.textoRoxo {
    color: #433379;
}
.textoMargem {
    margin: 0px;
}
.container {
    background-color: #3464A7;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    height: 300px;
    width: 280px;
    margin-top: 150px;
    border-radius: 15px;
}
#carousel {
    width: 100%;
    overflow-x: hidden;
}
#containerTotal {
    position: relative;
    display: flex;
    gap: 10px;
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-16.4%);
    
    transition: 0.5s;
}
#right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}
#left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}
#semaforoMenorA {
    padding: 0px;
    margin: 0px;
}

#right, #left {
    border-radius: 25px;
    font-size: 24px;
    background-color: #3464A7;
    border-width: 4px;
    border-color: black;
}
/* FIM DO STYLE DA PÁGINA DE ESCOLHA DAS SÉRIES */
/* STYLE DA PÁGINA DE JOGOS DAS SÉRIES FINAIS - NICOLAS */
#bodyJogoFinais {
    margin: 0px;
    padding: 0px;
}
#containerTextoSeries {
    margin-top: 70px;
    display: flex;
}
#containerTextoSeries img {
    width: auto;
    height: 28px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
#textoAtencao {
    padding-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#corAtencao {
    margin-bottom: 5px;
    color: #FFD42A;
    font-size: 28px; 
}
#containerTextoPrincipal {
    display: flex;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 105px;
}
#containerTextoPrincipal img {
    margin-top: 0px;
    padding-top: 0px;   
    top: 0;
    transform: translateY(-50px);
}
#enunciadoJogoFinais p{
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
    gap: 10px;
}
#containerEstacionamento {
    text-align: center;
    margin-top: 0px;
}
#containerEstacionamento img {
    position: absolute;
    transform: translateX(-143px) translateY(-75px);
    border-radius: 15px;
}
#containerBotao {
    text-align: center;
    margin-top: 135px;
}

/* FIM STYLE DA PÁGINA DE JOGOS DAS SÉRIES FINAIS */

/* STYLE DA PÁGINA INICIAL - PAULA */


/* dropdown */

.dropdown {
    position: absolute;
    margin-top: 10px;
    right: -30px;
}

.mainmenubtn {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #023859;
}

.mainmenubtn svg{
    fill: #f2f2f2;
}

.dropdown .content{
   transform: translateX(-50%);
   background-color: red;
   padding: 8px;
   border-radius: 5px;
   margin-top: 10px;
}

.dropdown[active="false"] .content {
    display: none;
}

.dropdown .content::before{
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    right: 25px;
    background-color: red;
}


/* fim dropdown */


#bodyBackground{
    width: 100%;
    height: 100%;
    max-width: 100VW;
    overflow: hidden;
    background-color: #f2f2f2;
}

.fundoTelaInicial{
    display: absolute;
    left: 50%;
    top: 20%;
    width: 400px;
    z-index: -2;
    transform: translate(-10px , -250px);
}

#startEPlaquinha{
    position: fixed;
    padding: 0;
    max-width: 40%;
    max-height: 40%;
    margin-left: 160px;
    margin-top: 270px;
}

#startEPlaquinha img{
    max-width: 90%;
    max-height: 80%;
    margin-left: 75px;
    position: fixed;
    margin-top: -120px;
}

#startEPlaquinha button{
    position: fixed;
    margin-top: 130px;
}

.botaoStartTelaInicial {
    margin-top: 20px;
    border-radius: 35%;
    background-color: rgb(252,212,76);
    width: 180px;
    height: 65px;
    border: 4px solid black;
    text-align: center;
    box-shadow: 0 7px rgb(252,212,76);
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#quatroplacasEDesc {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    position: absolute;
    left: 10%;

}

#quatroplacasEDesc img{
    max-width: 70%;
    max-height: 70%;
    justify-content: center;
    margin-left: 11%;
}

#quatroplacasEDesc p{
    font-size: 80%;
    text-align: center;
}

#ultimaPlacaEDesc{
    margin-left: 85px;
    width: 40%;
    height: 40%;
    position: absolute;
    bottom: -12%;
}

#ultimaPlacaEDesc p{
    font-size: 80%;
    text-align: center;
}

#ultimaPlacaEDesc img{
    max-width: 60%;
    max-height: 60%;
    margin-left: 15%;
}

#sobreEptran{
    background-color: #274B7D;
    max-width: 80%;
    max-height: 45%;
    color: white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

#sobreEptran h1{
    size: 20px;
}

/* FIM DO STYLE DA PÁGINA INICIAL */
/* STYLE DA PÁGINA DE CADASTRO - JONAS */
#tirarScrolPagina{
    overflow: hidden;
    height: 100vh;
}
.divCentro { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    font-size: 40px;
    margin: -10px;
}
.textoCadastro {
    text-align: center;
    margin: 20px;
    margin-top: 30px;
    font-size: 45px;
}
.backgroundCadastro {
    background-color: #3464A7;
    border-radius: 25px;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin: 1%;
}
.infoCadastro {
    color: white;
    text-align: center;
    padding-top: 1px;
}
#campoTextoCadastro {
    width: 80%;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    text-align-last: center;
    border-color: white;
    margin-bottom: 10px;
}
.botaoCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
}
#botaoContinuar {
    margin-top: 10px;
    padding: 3% 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #274B7D;
    border-radius: 10px;
    border: solid #274B7D;
    color: white;
}
#botaoContinuar:hover {
    background-color: #1e314b;
}
.textoOu {
    color: white;
    text-align: center;
    margin: -5px;
}
.textoLogin {
    color: white;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
}
#guardaCadastro {
    position: fixed;
    bottom: 0px;
    width: 60%;
    max-width: 375px ;
    max-height: auto;
    height: auto;
    object-fit: cover;
    object-position: 10px 10px;
}
#semaforoCadastro {
    position: fixed;
    right: 0;
    bottom: 0px;
    margin-right: 20px;
    width: 20%;
    max-width: 120px;
    max-height: auto;
    height: auto;
    object-fit: cover;
    object-position: 10px 6px;
}
/* FIM DO STYLE DA PÁGINA DE CADASTRO */
/* STYLE DA PÁGINA DE JOGOS DAS SÉRIES INICIAIS - JONAS */
.divCentro { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    font-size: 40px;
    margin: -10px;
}
.textoVideoInicial{
    font-size: 55px;
}
.containerSerieInicial {
    width: 100px;
    height: 80px;
    background: transparent;
    z-index: 1;
}
.semaforoMenorInicial {
    display: absolute;
    width: 26px;
    z-index: 1;
}
.telaPCInicialPai{
    position: relative;
}
.telaPC {
    display: absolute;
    width: 85%;
    height: 85%;
    max-width: 600px;
    max-height: 600px;
    z-index: 1;
}
.ruaSerieInicial {
    position: absolute;
    width: 160px;
    z-index: -1;
    left: -10%;
    bottom: -60px;
}
.ruaSerieInicial2 {
   position: fixed;
    width: 140px;
    z-index: -2;
    bottom: -20;
    left: -10%;
}
.fundoSerieInicial{
    position: fixed;
    width: 360px;
    z-index: -9999;
    left: 0;
    bottom: 0;
}
.textoVerticalSerieInicial{
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 30px;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
/* FIM DO STYLE DA PÁGINA DE JOGOS DAS SÉRIES INICIAIS */
/* STYLE DA PÁGINA DE JOGOS DO ENSINO MÉDIO - GAÚCHO */
.tituloPaginaEM {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 36px;
    font-weight: 400;
}
.tituloPaginaEM img {
    width: auto;
    height: 70px;
    margin-top: 10px;
}
.textoMedio {
    margin-left: 20px;
}
.cadeiranteExemplo {
    border-radius: 10%;
    width: 325px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 40px;
}
.containerPergunta {
    background-color: #3464A7;
    border-radius: 5%;
    text-align: center;
    width: 300px;
    height: 240px;
    margin: auto;
    color: #FAFAFB;
}
.textoPergunta {
    font-size: 24px;
    font-weight: bolder;
}
.textoEnunciado {
    font-size: 16px;
    font-weight: 400;
}
.containerAlternativa {
    background-color: #274B7D;
    border-radius: 5%;
    width: 250px;
    margin: auto;
    font-weight: normal;
    height: 105px;
    text-align: center;
    margin-top: 20px;
}
.textoAlternativa {
    padding-top: 7px;
}
.imagemRoxo {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}
/* FIM DO STYLE DA PÁGINA DE JOGOS DO ENSINO MÉDIO */
/* STYLE DA PÁGINA PARA COMEÇAR OS JOGOS - GAÚCHO */
.tituloPaginaJogos {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 24px;
}
.tituloPaginaJogos img{
    width: auto;
    height: 85px;
}
.containerTexto {
    text-align: center;
    font-size: 20px;
    margin-top: -20px;
    font-weight: 600;
}
.textoBotao {
    font-weight: 500;
    font-size: 16px;
}
.botaoStart {
    margin-top: 20px;
    border-radius: 35%;
    background-color: rgb(252,212,76);
    width: 180px;
    height: 65px;
    border: 4px solid black;
    text-align: center;
    box-shadow: 0 7px rgb(252,212,76);
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}
#backgroundInicio {
    background-image: url(../Img/FundoSerieInicial.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.imagemEstrada {
    position: absolute;
    left: 1px;
    transform: rotate(-1deg);
    width: 325px;
    margin-left: -130px;
    margin-top: -70px;
    margin-right: 100px;
}

/* FIM DO STYLE DA PÁGINA PARA COMEÇAR OS JOGOS */
/* STYLE DA PÁGINA DE RANKING - GAÚCHO */
.tituloPaginaRanking {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 50px;
}
.tituloPaginaRanking img {
    width: auto;
    height: 60px;
    margin-top: 42.5px;
}
.rankingFundo {
    background-color: #3464A7;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 250px;
}
.rankingTabela {
    margin: auto;
    font-size: 26px;
    padding: 10px;
    width: auto;
    background-color: #E6F1FF;
    border-radius: 10px;
}
.rankingPrincipal {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}
.rankingPontos {
    border-radius: 10px;    
    width: 10px;
    height: 15px;
    background-color: #FAFAFB;
}
.rankingNome {
    border-radius: 10px;   
    width: 270px;
    height: 15px;
    background-color: #FAFAFB;
}
.rankingLugar {
    font-size: 16px;
    text-align: center;
}
.semaforoRanking {
    position: absolute;
    z-index: -10;
    margin-top: -170px;
    left: 86.5%;
}
.estradaRanking {
    position: absolute;
    z-index: -10;
    width: 300px;
    margin-top: -400px;
    margin-left: -65px;
    transform: rotate(10deg);
}
/* FIM DO STYLE DA PÁGINA DE RANKING */